{% extends 'base.html' %}


{% block title %} | marbleSearch Result {% endblock %}
{% block content %}
{% load humanize %}
<div class="">
<div class="w3-hide-small">
  <section class="bg-white dark:bg-gray-900">
    <div class="py-6 px-4 mx-auto max-w-screen-xl  lg:py-16 lg:px-12">
     
        
        <div class="grid grid-cols-4 gap-4">
          <div>
            <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg">
              <div class="relative mx-4 mt-4 overflow-hidden rounded-xl  ">
                <img
                  src="https://i.postimg.cc/j5v4Wn2f/our-services-20.png"
                  alt="ui/ux review check"
                />
                <div class="to-bg-black-10 absolute inset-0 h-full w-full bg-gradient-to-tr from-transparent via-transparent to-black/60"></div>
                <button
                  class="!absolute top-4 right-4 h-8 max-h-[32px] w-8 max-w-[32px] select-none rounded-full  align-middle font-sans text-xs font-medium uppercase text-red-500 transition-all hover:bg-red-500/10 active:bg-red-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  type="button"
                  data-ripple-dark="true"
                >
                 
                </button>
              </div>
              <div class="p-6">
                <div class=" flex   justify-between">
                  <h5 class="block font-sans text-xl font-medium leading-snug tracking-normal text-blue-gray-900 antialiased">
                    Carpenter ( बढ़ई )
                  </h5>
        
                </div>
                <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
                  <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
                  <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>

                </p>
                <a href="/marbles/4">
                  <button
                    class="block w-full select-none rounded-lg bg-indigo-700 py-3.5 px-7 text-lg text-center align-middle font-sans text-sm text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                    type="button"
                    data-ripple-light="true"
                  >
                    Hire Now
                  </button>
                  </a>
                </div>
              
              </div>
            
            </div>

          <!-- ... -->
          <div>
            <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg">
              <div class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40">
                <img
                  src="https://i.postimg.cc/ZnKTxnmp/our-services-26.png"
                  alt="ui/ux review check"
                />
                <div class="to-bg-black-10 absolute inset-0 h-full w-full bg-gradient-to-tr from-transparent via-transparent to-black/60"></div>
                <button
                  class="!absolute top-4 right-4 h-8 max-h-[32px] w-8 max-w-[32px] select-none rounded-full  align-middle font-sans text-xs font-medium uppercase text-red-500 transition-all hover:bg-red-500/10 active:bg-red-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  type="button"
                  data-ripple-dark="true"
                >
                 
                </button>
              </div>
              <div class="p-6">
                <div class=" flex   justify-between">
                  <h5 class="block font-sans text-xl font-medium leading-snug tracking-normal text-blue-gray-900 antialiased">
                    Electrician ( इलेक्ट्रीशियन )
                  </h5>
        
                </div>
                <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
                  <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
                  <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>

                </p>
                <a href="/marbles/3">
                  <button
                    class="block w-full select-none rounded-lg bg-indigo-700 py-3.5 px-7 text-lg text-center align-middle font-sans text-sm text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                    type="button"
                    data-ripple-light="true"
                  >
                    Hire Now
                  </button>
                  </a>
                </div>
              
              </div>
          </div>


          <div>            <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg">
            <div class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white  ">
              <img
                src="https://i.postimg.cc/rwrGGFQD/our-services-24.png"
                alt="ui/ux review check"
              />
              <div class="to-bg-black-10 absolute inset-0 h-full w-full bg-gradient-to-tr from-transparent via-transparent to-black/60"></div>
              <button
                class="!absolute top-4 right-4 h-8 max-h-[32px] w-8 max-w-[32px] select-none rounded-full  align-middle font-sans text-xs font-medium uppercase text-red-500 transition-all hover:bg-red-500/10 active:bg-red-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                type="button"
                data-ripple-dark="true"
              >
               
              </button>
            </div>
            <div class="p-6">
              <div class=" flex   justify-between">
                <h5 class="block font-sans text-xl font-medium leading-snug tracking-normal text-blue-gray-900 antialiased">
                  Plumber ( प्लंबर )
                </h5>
      
              </div>
              <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
                <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
                <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>

              </p>
              <a href="/marbles/2">
                <button
                  class="block w-full select-none rounded-lg bg-indigo-700 py-3.5 px-7 text-lg text-center align-middle font-sans text-sm text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  type="button"
                  data-ripple-light="true"
                >
                  Hire Now
                </button>
                </a>
              </div>
            
            </div></div>
          <!-- ... -->
          <div>            <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg">
            <div class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40">
              <img
                src="https://i.postimg.cc/MHNpZxkB/our-services-29.png"
                alt="ui/ux review check"
              />
              <div class="to-bg-black-10 absolute inset-0 h-full w-full bg-gradient-to-tr from-transparent via-transparent to-black/60"></div>
              <button
                class="!absolute top-4 right-4 h-8 max-h-[32px] w-8 max-w-[32px] select-none rounded-full  align-middle font-sans text-xs font-medium uppercase text-red-500 transition-all hover:bg-red-500/10 active:bg-red-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                type="button"
                data-ripple-dark="true"
              >
               
              </button>
            </div>
            <div class="p-6">
              <div class=" flex   justify-between">
                <h5 class="block font-sans text-xl font-medium leading-snug tracking-normal text-blue-gray-900 antialiased">
                  Home Painter ( पेंटर )
                </h5>
      
              </div>
              <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
                <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
                <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>

              </p>
              <a href="/marbles/1">
                <button
                  class="block w-full select-none rounded-lg bg-indigo-700 py-3.5 px-7 text-lg text-center align-middle font-sans text-sm text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  type="button"
                  data-ripple-light="true"
                >
                  Hire Now
                </button>
                </a>
              </div>
            
            </div></div>
        </div>
<!--small-->
<br>
<div class=" w3-hide-small ">
  <div class="w3-container w3-row w3-row-padding">
    <div class="py-1" style="width: 7.5rem;">
    <img class="card-img-top " src="https://i.postimg.cc/rw39F01M/how-it-works-3-1.png" alt="Card image cap">
    </div>
    <div class="w3-row w3-container">
      
       <div class="w3-col s4 w3-center">
         <p>    <div class="py-1" style="width: 25.0rem;">
           <img class="card-img-top " src="https://i.postimg.cc/66zbNmHz/tttt.png" alt="Card image cap">
         </div></p>
       </div>
       <div class="w3-col s4  w3-center">
         <p>   
            <div class="py-1" style="width: 25.0rem;">
           <img class="card-img-top " src="https://i.postimg.cc/Kj4PbJzs/hhhg.png" alt="Card image cap">
         </div></p>
       </div>
       <div class="w3-col s4  w3-center">
         <p>   
            <div class="py-1" style="width: 25.0rem;">
           <img class="card-img-top " src="https://i.postimg.cc/dtb2MRK4/nnnnsdadasdasdasd.png" alt="Card image cap">
         </div></p>
       </div>
     </div>
     </div>
</div>



        </div>
      </section>
      </div>
</div>


<!--small screen-->

<div class="w3-hide-large w3-container ">
   <br><br><br>
  <div class="grid grid-cols-2 gap-2">
    <div>
      <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <div class="relative mx-4 mt-4 overflow-hidden rounded-xl  ">
          <img
            src="https://i.postimg.cc/j5v4Wn2f/our-services-20.png"
            alt="ui/ux review check"
          />
        </div>
        <div class="p-2">
          <div class=" flex   justify-between">
            <h5 class="block font-sans font-medium  text-l leading-snug tracking-normal text-blue-gray-900 antialiased">
              Carpenter
            </h5>
  
          </div>
          <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
            <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
            <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>

          </p>
          <a href="/marbles/4">
            <button
              class="block w-full select-none  rounded-lg bg-orange-50 py-2.5 px-4 text-lg text-center align-middle font-sans text-sm text-black shadow-sm transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              data-ripple-light="true"
            >
            Hire Now
            </button>
            </a>
          </div>
        
        </div>
      
      </div>

    <!-- ... -->
    <div>
      <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <div class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40">
          <img
            src="https://i.postimg.cc/ZnKTxnmp/our-services-26.png"
            alt="ui/ux review check"
          />
         
        </div>
        <div class="p-2">
          <div class=" flex   justify-between">
            <h5 class="block font-sans text-l font-medium leading-snug tracking-normal text-blue-gray-900 antialiased">
              Electrician 
            </h5>
  
          </div>
          <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
            <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
            <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>

          </p>
          <a href="/marbles/3">
            <button
              class="block w-full select-none text-black text-blod rounded-lg bg-orange-50 py-2.5 px-4 text-lg text-center align-middle font-sans text-sm text-black shadow-sm transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              data-ripple-light="true"
            >
              Hire Now
            </button>
            </a>
          </div>
        
        </div>
    </div>

</div>



<div class="grid grid-cols-2 gap-2 py-2">
    <div>            <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
      <div class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white  ">
        <img
          src="https://i.postimg.cc/rwrGGFQD/our-services-24.png"
          alt="ui/ux review check"
        />
        <div class="to-bg-black-10 absolute inset-0 h-full w-full bg-gradient-to-tr from-transparent via-transparent to-black/60"></div>
        <button
          class="!absolute top-4 right-4 h-8 max-h-[32px] w-8 max-w-[32px] select-none rounded-full  align-middle font-sans text-xs font-medium uppercase text-red-500 transition-all hover:bg-red-500/10 active:bg-red-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          type="button"
          data-ripple-dark="true"
        >
         
        </button>
      </div>
      <div class="p-2">
        <span class=" flex   justify-between">
          <h5 class="block font-sans text-l font-medium leading-snug tracking-normal text-blue-gray-900 antialiased">
            Plumber
          </h5>

        </span>
        <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
          <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
          <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>

        </p>
        <a href="/marbles/2">
          <button
            class="block w-full select-none text-black text-blod rounded-lg bg-orange-50 py-2.5 px-4 text-lg text-center align-middle font-sans text-sm text-black shadow-sm transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
            data-ripple-light="true"
          >
            Hire Now
          </button>
          </a>
        </div>
      
      </div></div>
    <!-- ... -->
    <div>            <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
      <div class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40">
        <img
          src="https://i.postimg.cc/MHNpZxkB/our-services-29.png"
          alt="ui/ux review check"
        />
        <div class="to-bg-black-10 absolute inset-0 h-full w-full bg-gradient-to-tr from-transparent via-transparent to-black/60"></div>
        <button
          class="!absolute top-4 right-4 h-8 max-h-[32px] w-8 max-w-[32px] select-none rounded-full  align-middle font-sans text-xs font-medium uppercase text-red-500 transition-all hover:bg-red-500/10 active:bg-red-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          type="button"
          data-ripple-dark="true"
        >
         
        </button>
      </div>
      <div class="p-2">
        <div class=" flex   justify-between">
          <h5 class="block font-sans text-l font-medium leading-snug tracking-normal text-blue-gray-900 antialiased">
            Home Painter
          </h5>

        </div>
        <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
          <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
          <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>

        </p>
        <a href="/marbles/1">
          <button
            class="block w-full select-none text-black text-blod rounded-lg bg-orange-50 py-2.5 px-4 text-lg text-center align-middle font-sans text-sm text-black shadow-sm transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
            data-ripple-light="true"
          >
            Hire Now
          </button>
          </a>
        </div>
      
      </div></div>
  </div>

<!--small-->
<div class="w3-hide-large w3-hide-medium ">
  <div class="py-8 swiffy-slider slider-item-ratio slider-item-ratio-16x9 slider-nav-animation slider-nav-animation-fadein slider-nav-autoplay slider-nav-autopause" id="swiffy-animation">
    <div class="py-1" style="width: 5.5rem;">
      <img class="card-img-top " src="https://i.postimg.cc/rw39F01M/how-it-works-3-1.png" alt="Card image cap">
      </div>
    <ul class="slider-container" id="container1">
        <li id="slide1" class=""><img src="https://i.postimg.cc/66zbNmHz/tttt.png" alt="..." loading="lazy"></li>
        <li id="slide2" class=""><img src="https://i.postimg.cc/Kj4PbJzs/hhhg.png" alt="..." loading="lazy"></li>
        <li id="slide3" class=""><img src="https://i.postimg.cc/dtb2MRK4/nnnnsdadasdasdasd.png" alt="..." loading="lazy"></li>
    </ul>
  
    <button type="button" class="slider-nav" aria-label="Go to previous"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go to next"></button>
  
    <div class="slider-indicators">
        <button aria-label="Go to slide" class=""></button>
        <button aria-label="Go to slide" class=""></button>
        <button aria-label="Go to slide" class=""></button>
        <button aria-label="Go to slide" class="active"></button>
        <button aria-label="Go to slide" class=""></button>
        <button aria-label="Go to slide" class=""></button>
    </div>
  </div>
  </div>
</div>







{% endblock %}