{% extends 'store/layouts/main.html' %}

{% block content %}
    {% include 'store/inc/slider.html' %}
  
  <div class="w3-hide-small">
    <!--small-->
    <div class="w-full  bg-white  rounded-lg">
      <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rounded-full">
        <div class=" w3-hide-small max-w-4xl w3-container  w3-center  "  >
         
          <div class=" w3-container swiffy-slider slider-item-show5 slider-nav-outside slider-nav-autoplay slider-nav-autopause " data-slider-nav-autoplay-interval="4000">
            <div class="slider-container px-2 py-2">
           

                <div>   <a class="" href="/tiles/1">
                  <img height="150" src="https://i.postimg.cc/rpqp8404/21.png" loading="lazy" alt="..."> </a></div>
                <div>   <a class="" href="/tiles/1">
                  <img  height="150"src="https://i.postimg.cc/XXMVtB6p/20.png" loading="lazy" alt="...">
                </a></div>
                <div>   <a class="" href="/tiles/1">
                  <img height="150" src="https://i.postimg.cc/15RVKL56/19.png" loading="lazy" alt="...">
                </a>
               </div>
                <div>   <a class="" href="/tiles/1">
                  <img  height="150"src="https://i.postimg.cc/8C4mNBYq/17.png" loading="lazy" alt="...">
                </a>
               </div>
                <div>   <a class="" href="/tiles/1"></a>
                  <img height="150"src="https://i.postimg.cc/FzBS1TbB/14.png" loading="lazy" alt="..."></div>
                <div>   <a class="" href="/tiles/1">
                  <img height="150" src="https://i.postimg.cc/vZdBXRmv/15.png" loading="lazy" alt="...">
                </a></div>
                <div>   <a class="" href="/tiles/1">
                  <img height="150" src="https://i.postimg.cc/28CjBQ9H/16.png" loading="lazy" alt="..."></a></div>
              
            </div>
        
            <button type="button" class="slider-nav" aria-label="Go left"></button>
            <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
        
        </div>


        </div>
      </div>
    
    </div>
<div class="py-2">
    <div class="w-full text-center bg-white  rounded-lg  sm:p-8 dark:bg-gray-800  ">
      <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rounded-full">
          <a href="/marbles/marblesearch?" class="rounded-full w-full shadow-sma sm:w-auto bg-gray-50 text-transparent hover:bg-gray-00 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
            <img class="mr-3 rounded-full ring-offset-2 ring-4 ring-yellow-400" src="https://i.postimg.cc/ydDqy63x/13-removebg-preview.png" alt="..." class="shadow-lg rounded-full max-w-full h-auto align-middle border-none"  width="50" height="25" />
            <div class="text-black">
              <p class="mb-0 font-sans font-semibold leading-normal text-sm">Construction Worker</p>
              <h6 class="mb-0 font-bold">
                Hire Now
                <span class="leading-normal text-sm font-weight-bolder text-lime-500">
                  <i class="fa fa-flag-o" aria-hidden="true"></i>
                </span>
              </h6>
            </div>
          </a>
        
          <a href="/cars/" class="rounded-full w-full shadow-sm sm:w-auto bg-gray-50 text-transparent  focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
            <img class="mr-3 rounded-full ring-offset-2 ring-4 ring-yellow-400" src="https://i.postimg.cc/Jnj5KMTm/11-removebg-preview-1.png" alt="..." class="shadow-lg rounded-full max-w-full h-auto align-middle border-none"  width="50" height="25" />
            <div class="text-black">
              <p class="mb-0 font-sans font-semibold leading-normal text-sm">Architect and Interior Designer</p>
              <h6 class="mb-0 font-bold">
                Hire Now
                <span class="leading-normal text-sm font-weight-bolder text-lime-500">
                  <i class="fa fa-flag-o" aria-hidden="true"></i>
                </span>
              </h6>
            </div>
          </a>
      </div>
    </div>
</div>
   
    
 

<!--text-->
<div class="bg-white">
  <div class="mx-auto max-w-7xl  sm:px-6lg:px-8">
    <div class="relative isolate overflow-hidden bg-gradient-to-r from-indigo-900 via-purple-700 to-pink-800 px-6 pt-8 shadow-2xl sm:rounded-3xl sm:px-11 md:pt-12 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0">

      <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-12 lg:text-left">
        <h2 class="text-3xl font-bold tracking-tight text-gray-50 sm:text-4xl">If You are a <br> Architect,Builder,Interior Designer, Contractor <br> Please Connect </p></h2>
        <p class="mt-6 text-lg leading-8 text-amber-100">Dedicated Relationship Manager, Best Quality Products, Affordable Pricing, Best Pricing,Friendly Approach
          
        <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
          <a href="/cars/search?" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Shop Now</a>
         
        </div>
      </div>
      <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-12 lg:text-left">
        <h2 class="text-3xl font-bold tracking-tight text-white  sm:text-4xl">Building material<br> at your DoorStep</h2>
        <p class="mt-6 text-lg leading-8 text-amber-100">Product Sampling at Your Doorstep, Easy Ordering, Wide Selection ,Timely service, Best Pricing,Friendly Approach </p>
        <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
          <a href="/tiles/1" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Shop Now</a>

        </div>
      </div>
    </div>
  </div>
</div>

 <!--new-->
 <div class="bg-white py-6">
  <div class="mx-auto max-w-2xl lg:text-center py-6">
    <h2 class="text-base font-semibold leading-7 text-indigo-600"></h2>
    
    <p class="mt-2 text-l font-bold tracking-tight text-gray-900 sm:text-4xl">Trending      <span class="bg-clip-text bg-gradient-to-tl from-blue-600 to-violet-600 text-transparent">
       Product</span></p>
  </div>

  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="grid grid-cols-4 gap-4">
      
      <div>
        <!-- component -->
<div class="mx-auto  w-70 transform overflow-hidden rounded-lg bg-white dark:bg-slate-800 shadow-md duration-300 hover:scale-105 hover:shadow-lg">
  <img class="h-48 w-full object-cover object-center" src="https://i.postimg.cc/2yG2cFjK/our-services-10.png" alt="Product Image" />
  <div class="p-4">
    <h1 class="mb-2 text-lg font-bold dark:text-white text-gray-900">Cement</h1>
    <p class="mb-2 text-base dark:text-gray-300 text-gray-700">50 kg/bag</p>
    <div class="flex items-center">
      <p class="text-base font-medium text-green-500">Starting Form</p>
         <p class=" text-lg font-semibold text-gray-900 dark:text-white px-2"> ₹ 380/-</p>
    </div>
  </div>
</div>
      </div>

      <div>
        <!-- component -->
<div class="mx-auto  w-70 transform overflow-hidden rounded-lg bg-white dark:bg-slate-800 shadow-md duration-300 hover:scale-105 hover:shadow-lg">
  <img class="h-48 w-full object-cover object-center" src="https://i.postimg.cc/Gh74F7ns/our-services-11.png" alt="Product Image" />
  <div class="p-4">
    <h1 class="mb-2 text-lg font-bold dark:text-white text-gray-900">Paints</h1>
    <p class="mb-2 text-base dark:text-gray-300 text-gray-700"> 20 ltr/Buket</p>
    <div class="flex items-center">
      <p class="text-base font-medium text-green-500">Starting Form</p>
         <p class=" text-lg font-semibold text-gray-900 dark:text-white px-2"> ₹ 2600/-</p>
    </div>
  </div>
</div>
      </div>

      <div>
        <!-- component -->
<div class="mx-auto  w-70 transform overflow-hidden rounded-lg bg-white dark:bg-slate-800 shadow-md duration-300 hover:scale-105 hover:shadow-lg">
  <img class="h-48 w-full object-cover object-center" src="https://i.postimg.cc/sf9JPr2H/our-services-12.png" alt="Product Image" />
  <div class="p-4">
    <h1 class="mb-2 text-lg font-bold dark:text-white text-gray-900">Black Marble</h1>
    <p class="mb-2 text-base dark:text-gray-300 text-gray-700">10-15 mm, 15-20 mm </p>
    <div class="flex items-center">
      <p class="text-base font-medium text-green-500">Starting Form</p>
         <p class=" text-lg font-semibold text-gray-900 dark:text-white px-2"> ₹ 55 /<small class="text-gray-500">sq ft</small></p>
    </div>
  </div>
</div>
      </div>
    
      <div>
        <!-- component -->
<div class="mx-auto  w-70 transform overflow-hidden rounded-lg bg-white dark:bg-slate-800 shadow-md duration-300 hover:scale-105 hover:shadow-lg">
  <img class="h-48 w-full object-cover object-center" src="https://i.postimg.cc/bwGb5czh/our-services-13.png" alt="Product Image" />
  <div class="p-4">
    <h1 class="mb-2 text-lg font-bold dark:text-white text-gray-900">louvers</h1>
    <p class="mb-2 text-base dark:text-gray-300 text-gray-700">2900x160x80 mm</p>
    <div class="flex items-center">
      <p class="text-base font-medium text-green-500">Starting Form</p>
         <p class=" text-lg font-semibold text-gray-900 dark:text-white px-2"> ₹ 449/<small class="text-gray-400"> Square Feet</small> </p>
    </div>
  </div>
  </div>
</div>
      </div>
    </div>
  </div>


<div class="">
  <main class="">
      <div class="w-full max-w-6xl mx-auto px-4 md:px-6">
        <div class="grid grid-cols-2 gap-4">
          <div class="py-24">
            <div class=" max-w-2xl text-center mx-auto py-24">
              <h5 class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl dark:text-gray-200">
                How It <br>
                <span class="bg-clip-text bg-gradient-to-tl from-blue-600 to-violet-600 text-transparent">Works</span>
              </h5>
            </div>
          </div>
          <!-- ... -->
          <div>

             <!--half-->
             
          <div class="flex flex-col justify-center divide-y divide-slate-200 [&>*]:py-16">

            <div class="w-full max-w-3xl mx-auto">
            
                <!-- Vertical Timeline #1 -->
                <div class="-my-6">

                    <!-- Item #1 -->
                    <div class="relative pl-8 sm:pl-32 py-6 group">
                        <!-- Purple label -->
                    
                        <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                        <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                            <time class="sm:absolute left-0 translate-y-1.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600  rounded-full">
                              <img src="https://i.postimg.cc/D0wWJgT2/istockphoto-1225755783-612x612-removebg-preview.png" width="90" height="10"/>
                            </time>
                            <div class="text-xl font-bold text-slate-900">Schedule Visit (with expert & sampling):</div>
                        </div>
                        <!-- Content -->
                        <div class="text-slate-500">HardwareDepot.in allows customers to schedule a visit to their physical location or arrange for an expert to visit their project site
                          Receive expert advice and guidance on selecting the right building materials for their project</div>
                    </div>
                    
                    <!-- Item #2 -->
                    <div class="relative pl-8 sm:pl-32 py-6 group">
                        <!-- Purple label -->

                        <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                        <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                            <time class="sm:absolute left-0 translate-y-1.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0  rounded-full">
                              <img src="https://i.postimg.cc/GhrRQ28y/Untitled-design-52-removebg-preview.png" width="70" height="10"/>
   

                            </time>
                            <div class="text-xl font-bold text-slate-900">Take Requirement:</div>
                        </div>
                        <!-- Content -->
                        <div class="text-slate-500">After the visit or consultation, customers provide detailed information about their building material requirements. This includes
                          Specifying the types and quantities of materials needed for their project.</div>
                    </div>
                    
                    <!-- Item #3 -->
                    <div class="relative pl-8 sm:pl-32 py-6 group">
                        <!-- Purple label -->
                        <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                            <time class="sm:absolute left-0 translate-y-1.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 rounded-full">
                              <img src="https://i.postimg.cc/2SwxgHSw/2554978-removebg-preview.png" width="50" height="10"/></time>
                            <div class="text-xl font-bold text-slate-900">Get Delivered to Doorstep:</div>
                        </div>
                        <!-- Content -->
                        <div class="text-slate-500">Once the customer has specified their
                          requirements, Hardware Depot.in processes the
                          order and arranges for delivery
                          Allowing customers to choose their preferred delivery date and time.</div>
                    </div>
                </div>
                <!-- End: Vertical Timeline #1 -->
            </div>

</div>
          </div>
        </div>
</div>
</main>
</div>

   <!--tailwindcss-->

   <div class="bg-white ">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center py-12">
       
        <p class=" bg-clip-text bg-gradient-to-tl from-blue-600 to-violet-600 text-transparent mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Why Us!</p>
      </div>
      <div class="grid grid-cols-3 gap-4 py-4">
        <div>
          <div class="max-w-sm rounded overflow-hidden shadow-md bg-indigo-20">
            <div class="px-6 py-2">
            <img src="https://i.postimg.cc/DyTTfZ7z/Marketing-Proposal-4-2-removebg-preview.png" width="100" height="10"/></div>
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">Wide Range Of Products </div>
              <p class="text-gray-600 text-base py-1">
                 Hardware Depot.in is a one-stop shop for a wide range of building materials and hardware items. Offering an extensive selection that includes everything from sanitaryware, lumber, plumbing fixtures,
                 and more indicates </p>
            </div>
          
          </div>
        </div>
          
        <div>
          <div class="max-w-sm rounded overflow-hidden shadow-md bg-indigo-20">
            <div class="px-6 py-2">
            <img src="https://i.postimg.cc/Zqbd34ZP/Marketing-Proposal-1-2-removebg-preview.png" width="80" height="10"/></div>
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">Quality Assurance </div>
              <p class="text-gray-600 text-base">
                We are committed to prov.iding
                only the highest quality products to
                our customers. Our team carefully curates our inventory,significant effort to ensure that each product meets the highest standards</p>
            </div>
          
          </div>
        </div>
        <div>
          <div class="max-w-sm rounded overflow-hidden shadow-md bg-indigo-20">
            <div class="px-6 py-2">
            <img src="https://i.postimg.cc/DmVhGrJW/Marketing-Proposal-2-2-removebg-preview.png" width="100" height="10"/></div>
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">Competitive Price:</div>
              <p class="text-gray-600 text-base">
                At HardwareDepot.in, we believe that quality doesn't have
to come at a high price. We offer competitive pricing on
all our products, helping you save money on your
construction and renovation projects. </p>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--hidesmall-->
{% include 'store/inc/footer.html' %}
</div>


<!--smallscreen-->
<div class="w3-hide-large w3-hide-medium">
  <div class=" w3-hide-large w3-hide-medium max-w-2xl w3-container  w3-center  "  >
    <br>
 <div class="  swiffy-slider slider-item-show5 slider-nav-outside slider-nav-autoplay slider-nav-autopause " data-slider-nav-autoplay-interval="3000">
   <div class="slider-container">
       <div class="w3-container">
         <div class="w3-row">
          <div class="w3-col s4  w3-center">
            <a class="" href="/tiles/1">
               <img height="170" src="https://i.postimg.cc/rpqp8404/21.png" alt="...">
            </a>
          </div>
          <div class="w3-col s4  w3-center">
            <a class="" href="/tiles/1">
               <img height="170" src="https://i.postimg.cc/XXMVtB6p/20.png" alt="...">
            </a>
          </div>
           
          <div class="w3-col s4  w3-center">
            <a class="" href="/tiles/1">
             <img   height="170" src="https://i.postimg.cc/15RVKL56/19.png" alt="...">
            </a>
          </div>
         </div>
         </div>
           
             <div class="w3-container">
               <div class="w3-row">
                 <div class="w3-col s4  w3-center"> 
                  <a class="" href="/tiles/1">
                   <img   height="170" src="https://i.postimg.cc/8C4mNBYq/17.png" alt="...">
                  </a>
                  </div>
                   <div class="w3-col s4  w3-center">
                    <a class="" href="/tiles/1">
                     <img   height="170" src="https://i.postimg.cc/FzBS1TbB/14.png" alt="...">
                    </a>
                    </div>
                   <div class="w3-col s4  w3-center">
                    <a class="" href="/tiles/1">
                    <img   height="170" src="https://i.postimg.cc/vZdBXRmv/15.png" alt="...">
                  </a>
                  </div>
                  </div>
               </div>
               <div class="w3-container">
                 <div class="w3-row">
                   <div class="w3-col s4  w3-center"> 
                    <a class="" href="/tiles/1">
                     <img height="170" src="https://i.postimg.cc/28CjBQ9H/16.png" loading="lazy" alt="...">
                    </a>
                    </div>
                     <div class="w3-col s4  w3-center">
                    </div>
                 
                   <div class="w3-col s4  w3-center">
                    </div>
                 </div>
              
                 </div>
    </div>
</div>
</div>
<!--ensslideshow-->
<div class="w3-container py-4"> 
  <br>
  <div class="py-2">
    <a href="/marbles/marblesearch?" class="rounded-full w-full shadow-sma sm:w-auto bg-gray-50 text-transparent hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5">
      <img class="mr-3 rounded-full ring-offset-2 ring-4 ring-yellow-500" src="https://i.postimg.cc/ydDqy63x/13-removebg-preview.png" alt="..." class="shadow-lg rounded-full max-w-full h-auto align-middle border-none"  width="50" height="25" />
      <div class="text-black">
        <p class="mb-0 font-sans font-semibold leading-normal text-sm">Construction Worker</p>
        <h6 class="mb-0 font-bold">
          Hire Now
          <span class="leading-normal text-sm font-weight-bolder text-lime-500">
            <i class="fa fa-flag-o" aria-hidden="true"></i>
          </span>
        </h6>
      </div>
    </a>
  </div>
   <div class="">
    <a href="/cars/" class="rounded-full w-full shadow-sma sm:w-auto bg-gray-50 text-transparent hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5">
      <img class="mr-3 rounded-full ring-offset-2 ring-4 ring-yellow-500" src="https://i.postimg.cc/Jnj5KMTm/11-removebg-preview-1.png" alt="..." class="shadow-lg rounded-full max-w-full h-auto align-middle border-none"  width="50" height="25" />
      <div class="text-black">
        <p class="mb-0 font-sans font-semibold leading-normal text-sm">Architect and Interior <BR>Designer</p>
        <h6 class="mb-0 font-bold">
          Hire Now
          <span class="leading-normal text-sm font-weight-bolder text-lime-500">
            <i class="fa fa-flag-o" aria-hidden="true"></i>
          </span>
        </h6>
      </div>
    </a>

   </div>
</div>
<br>
<!--end-->
<div class="w3-container py-2">

<div
  class="block rounded-lg bg-gradient-to-r from-indigo-900 via-purple-700 to-pink-800 p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
  <h5
    class="mb-2 text-xl font-medium leading-tight text-white ">
    If You are a <br> Architect,Builder,Interior Designer, Contractor <br> Please Connect 
  </h5>
  <a href="/cars/search?">
  <button
  type="button"
  class="inline-block rounded bg-indigo-800  -100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] "
  data-te-ripple-init
  data-te-ripple-color="light">
  Shop Now
</button>
</a>
</div>
<div class="py-1"></div>
<div
  class="lock rounded-lg bg-gradient-to-r from-indigo-400 from-10% via-sky-800 via-30% to-emerald-500 to-90%  p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] ">
  <h5
    class="mb-2 text-xl font-medium leading-tight text-white ">
    Building material at your <br> DoorStep
  </h5>
  <a href="/tiles/1">
  <button
    type="button"
    class="inline-block rounded bg-indigo-800  -100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] "
    data-te-ripple-init
    data-te-ripple-color="light">
    Shop Now
  </button>
  </a>
</div>
</div>

<!----><br>
<div class="w3-container py-3">
  <div class="">
    <div class=" max-w-2xl text-center mx-auto">
      <h5 class="block font-bold text-gray-800 text-2xl md:text-5xl lg:text-3xl ">
        Trending 
        <span class="bg-clip-text bg-gradient-to-tl from-blue-600 to-violet-600 text-transparent">Product</span>
      </h5>
    </div>
  </div>
  <br>
  </div>

<!--other screen-->

<div class="w3-container swiffy-slider slider-item-show3 slider-nav-round slider-nav-page slider-nav-autoplay slider-nav-autopause" data-slider-nav-autoplay-interval="2000">
  <ul class="slider-container">
    <li>
      <div class="m transform overflow-hidden rounded-lg bg-white  shadow-md duration-300 hover:scale-105 hover:shadow-lg">
        <img class="h-48 w-full object-cover object-center" src="https://i.postimg.cc/4xry3xHL/our-services-17.png" alt="Product Image" />
        <div class="p-4">
          <h1 class="mb-2 text-sm font-bold  text-gray-900">Cement</h1>
          <p class=" text-gray-700">50 kg/bag</p>
          <div class="flex items-center">
            <p class="text-base font-medium text-green-500">Starting Form</p>
               <p class=" text-lg font-semibold text-gray-900  px-2"> ₹ 380/-</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="mx-auto  w-70 transform overflow-hidden rounded-lg bg-white  shadow-md duration-300 hover:scale-105 hover:shadow-lg">
        <img class="h-48 w-full object-cover object-center" src="https://i.postimg.cc/MT0vNJTs/our-services-15.png" alt="Product Image" />
        <div class="p-4">
          <h1 class="mb-2 text-sm font-bold  text-gray-900">Paints</h1>
          <p class=" text-gray-700"> 20 ltr/Buket</p>
          <div class="flex items-center">
            <p class="text-base font-medium text-green-500">Starting Form</p>
               <p class=" text-lg font-semibold text-gray-900  px-2"> ₹ 2600/-</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="mx-auto  w-70 transform overflow-hidden rounded-lg bg-white  shadow-md duration-300 hover:scale-105 hover:shadow-lg">
        <img class="h-48 w-full object-cover object-center" src="https://i.postimg.cc/T3SLWcFc/our-services-16.png" alt="Product Image" />
        <div class="p-4">
          <h1 class="mb-2 text-lg font-bold  text-gray-900">Black Marble</h1>
          <p class="mb-2 text-base text-gray-700">10-15 mm, 15-20 mm </p>
          <div class="flex items-center">
            <p class="text-base font-medium text-green-500">Starting Form</p>
               <p class=" text-lg font-semibold text-gray-900  px-2"> ₹ 55 /<small class="text-gray-500">sq ft</small></p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="mx-auto  w-70 transform overflow-hidden rounded-lg bg-white  shadow-md duration-300 hover:scale-105 hover:shadow-lg">
        <img class="h-48 w-full object-cover object-center" src="https://i.postimg.cc/mgZNSVdf/our-services-14.png" alt="Product Image" />
        <div class="p-4">
          <h1 class="mb-2 text-lg font-bold  text-gray-900">louvers</h1>
          <p class="mb-2 text-base text-gray-700">2900x160x80 mm</p>
          <div class="flex items-center">
            <p class="text-base font-medium text-green-500">Starting Form</p>
               <p class=" text-lg font-semibold text-gray-900  px-2"> ₹ 449/<small class="text-gray-400"> Square Feet</small> </p>
          </div>
        </div>
        </div>
      </li>
  </ul>

  <button type="button" class="slider-nav" aria-label="Go left"></button>
  <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
</div>
<!-- how it work--><br>
<div class="w3-container py-12">
  <div class="">
    <div class=" max-w-2xl text-center mx-auto">
      <h5 class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl ">
        How It <br>
        <span class="bg-clip-text bg-gradient-to-tl from-blue-600 to-violet-600 text-transparent">Works</span>
      </h5>
    </div>
  </div>
  <br>
  </div>

<div class="w3-container">
  <div class="flex flex-col justify-center divide-y divide-slate-200">
    <div class="w-full max-w-3xl mx-auto">
        <!-- Vertical Timeline #1 -->
        <div class="-my-6">
            <!-- Item #1 -->
            <div class="relative pl-8 sm:pl-32 py-6 group">
                <!-- Purple label -->
                <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time class="sm:absolute left-0 translate-y-1.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600  rounded-full">
                      <img src="https://i.postimg.cc/D0wWJgT2/istockphoto-1225755783-612x612-removebg-preview.png" width="90" height="10"/>
                    </time>
                    <div class="text-l font-bold text-slate-900">Schedule Visit (with expert & sampling):</div>
                </div>
                <!-- Content -->
                <div class="text-slate-500">HardwareDepot.in allows customers to schedule a visit to their physical location or arrange for an expert to visit their project site
</div>
            </div>
            
            <!-- Item #2 -->
            <div class="relative pl-8 sm:pl-32 py-6 group">
                <!-- Purple label -->

                <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time class="sm:absolute left-0 translate-y-1.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0  rounded-full">
                      <img src="https://i.postimg.cc/GhrRQ28y/Untitled-design-52-removebg-preview.png" width="70" height="10"/>


                    </time>
                    <div class="text-l font-bold text-slate-900">Take Requirement:</div>
                </div>
                <!-- Content -->
                <div class="text-slate-500">After the visit or consultation, customers provide detailed information about their building material requirements. </div>
            </div>
            
            <!-- Item #3 -->
            <div class="relative pl-8 sm:pl-32 py-6 group">
                <!-- Purple label -->
                <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time class="sm:absolute left-0 translate-y-1.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 rounded-full">
                      <img src="https://i.postimg.cc/2SwxgHSw/2554978-removebg-preview.png" width="50" height="10"/></time>
                    <div class="text-l font-bold text-slate-900">Get Delivered to Doorstep:</div>
                </div>
                <!-- Content -->
                <div class="text-slate-500">Once the customer has specified their
                  requirements, Hardware Depot.in processes the
                  order and arranges for delivery
                </div>
            </div>
        </div>
        <!-- End: Vertical Timeline #1 -->
    </div>
</div>
</div>
<!---->
<br>
<div class="w3-container py-3">
  <div class="">
    <div class=" max-w-2xl text-center mx-auto">
      <h5 class="block font-bold text-gray-800 text-2xl md:text-5xl lg:text-3xl ">
        Why
        <span class="bg-clip-text bg-gradient-to-tl from-blue-600 to-violet-600 text-transparent">Us</span>
      </h5>
    </div>
  </div>
  <br>
  </div>

<div class="w3-container swiffy-slider slider-item-show3 slider-nav-round slider-nav-page slider-nav-autoplay slider-nav-autopause" data-slider-nav-autoplay-interval="2000">
  <ul class="slider-container">
    <li>
      <div class="max-w-sm rounded overflow-hidden shadow-lg bg-orange-50">
        <div class="px-6 py-2">
        <img src="https://i.postimg.cc/DyTTfZ7z/Marketing-Proposal-4-2-removebg-preview.png" width="100" height="10"/></div>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Wide Range Of Products </div>
          <p class="text-gray-600 text-base py-1">
             Hardware Depot.in is a one-stop shop for a wide range of building materials and hardware items. Offering an extensive selection that includes everything from sanitaryware, lumber, plumbing fixtures,
             and more indicates </p>
        </div>
      </div>

    </li>
    <div class="max-w-sm rounded overflow-hidden shadow-md bg-orange-50">
      <div class="px-6 py-2">
      <img src="https://i.postimg.cc/Zqbd34ZP/Marketing-Proposal-1-2-removebg-preview.png" width="80" height="10"/></div>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Quality Assurance </div>
        <p class="text-gray-600 text-base">
          We are committed to prov.iding
          only the highest quality products to
          our customers. Our team carefully curates our inventory,significant effort to ensure that each product meets the highest standards</p>
      </div>
    </div>
    <li>
      <div class="max-w-sm rounded overflow-hidden shadow-md bg-orange-50">
        <div class="px-6 py-2">
        <img src="https://i.postimg.cc/DmVhGrJW/Marketing-Proposal-2-2-removebg-preview.png" width="100" height="10"/></div>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Competitive Price:</div>
          <p class="text-gray-600 text-base">
            At HardwareDepot.in, we believe that quality doesn't have
to come at a high price. We offer competitive pricing on
all our products, helping you save money on your
construction and renovation projects. </p>
        </div>
      
      </div>
    </li>
  </ul>

  <button type="button" class="slider-nav" aria-label="Go left"></button>
  <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
</div>
<br>
<!--footer-->
<!-- component -->

<footer class="bg-indigo-950 rounded-lg shadow  m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
      <div class="sm:flex sm:items-center sm:justify-between">
         
          <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-white sm:mb-0 ">
              <li>
                  <a href="/marbles/" class="mr-4 hover:underline md:mr-6 ">About US</a>
              </li>
              <li>
                  <a href="/tiles/" class="mr-4 hover:underline md:mr-6">Terms And Condition</a>
              </li>
              <li>
                  <a href="#" class="mr-4 hover:underline md:mr-6 ">Careers</a>
              </li>
          
          </ul>
      </div>
      <span class="block text-lg text-white sm:text-center ">Contact Us</span>
      <span class="block text-sm text-white sm:text-center ">Bihar, India</span>
      <span class="block text-sm text-white sm:text-center ">7004197301</span>
      <hr class="my-6 border-gray-200 sm:mx-auto  lg:my-8 text-white" />
      <span class="block text-sm text-white sm:text-center ">© 2023 infrablue material technologies pvt ltd. All Rights Reserved.</span>
  </div>
</footer>

<br><br><br><br>

<!--postend-->
</div>





{% endblock content %}

{% block scripts %}






















<script>
  // Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}


   function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 4000);    
  }
  
$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    autoplay:true, 
    autoplayTimeout:4000,
    nav:false,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:4
        }
    }
})


</script>

{% endblock scripts %}